.blob-container {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  overflow: hidden;
}

.blob-main {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  will-change: transform;
}

.blob {
  position: absolute;
  will-change: transform;
  transform: translate(-50%, -50%);
  /* Ensure no user interaction */
  pointer-events: none;
}

.inner-dot {
  position: absolute;
  pointer-events: none;
}